extends base

block content
  main.main
    .user-view__resetPwd
      .user-view__content
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Please provide your email
          form.form.form-user-forgetPassword
            .form__group
              label.form__label(for='email') Email
              input#email.form__input(type='email', placeholder='Your email', required)
            .form__group.right
              button.btn.btn--small.btn--green Send password Reset link