extends base

block content
  main.main
    .user-view__resetPwd
      .user-view__content
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Reset Your Password
          form.form.form-user-resetPassword
            .form__group
              label.form__label(for='password') New password
              input#new-password.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group.ma-bt-lg
              label.form__label(for='password-confirm') Confirm password
              input#new-password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group.right
              button.btn.btn--small.btn--green.btn--savePwd Save password
